/* body{
    background-color: pink;
} */

.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color:#222222 !important ;
}

.f-info-link a{
    text-decoration: none;
    color: #222222;
}
.f-info-link a:hover{
    text-decoration: underline;
}
.f-info{
     text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.f-info-link, .f-info-socials, .f-info-brand{
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials{
     margin-right:1rem ;
      font-size: 1.2rem;
}